<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Ultrasonic data</title>

    <!-- Use AngularJS as a frontend framework -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

    <!-- Load Firebase -->
    <script src="https://www.gstatic.com/firebasejs/3.8.0/firebase.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyCU3VyXt10QuqxY7W92rtKAePNPT4_qI_I",
        authDomain: "fir-demoesp8266.firebaseapp.com",
        databaseURL: "https://fir-demoesp8266.firebaseio.com",
        projectId: "fir-demoesp8266",
        storageBucket: "fir-demoesp8266.appspot.com",
        messagingSenderId: "511451051271"
      };
      firebase.initializeApp(config);
    </script>

    <!-- Load ChartJS for charts -->
    <script src="/bower_components/chart.js/dist/Chart.min.js"></script>

    <!-- The App -->
    <script type="text/javascript">
      // Init angularjs app
      var app = angular.module('ultrasonicApp', [])

      // Create controller for the table
      app.controller('dataController', function($scope) {
        // Refrence to firebase database url: /measurements
        var measurementsRef = firebase.database().ref('measurements');

        // Event when data is changed
        measurementsRef.on('value', function(snapshot){
          // Data
          var data = snapshot.val();

          // Measurement keys
          var keys = Object.keys(data);

          // Get data elapsedTimes as array for chart labels
          var labels = keys.map(function(key){
            return data[key].elapsedTime
          });
          // Get data distance as array for chart points
          var points = keys.map(function(key){
            return data[key].distance
          });

          // Set data
          $scope.$apply(function(){
            $scope.measurements = data;
          });

          // Set Chart
          var ctx = document.getElementById('measurementsChart');
          var chart = new Chart(ctx, {
            type: 'line',
            data: {
              labels: labels,
              datasets: [{
                label: 'Distance',
                data: points,
              }]
            },
            options: {
              responsive: false
            }
          });
        });
      });

      // Create controller for the on/off switch
      app.controller('controlsController', function($scope) {
        // Refrence to isOn boolean
        var measurementsRef = firebase.database().ref('isOn');

        // When the boolen is changed
        measurementsRef.on('value', function(snapshot){
          // Set data
          $scope.$apply(function(){
            $scope.isOn = snapshot.val();
          });
        });

        // Toggle on/off
        $scope.toggleOn = function(){
          // Get isOn negative value
          var value = !$scope.isOn;
          // Set boolean
          measurementsRef.set(value);
        };
      });
    </script>

    <style media="screen">
      .chart{
        max-width: 512px;
        height: 512px;
      }
    </style>
  </head>
  <body ng-app="ultrasonicApp">
    <div ng-controller="controlsController">
      <h2>Toggle on/off</h2>
      <button ng-click="toggleOn()">{{isOn ? 'OFF' : 'ON'}}</button>
    </div>

    <div ng-controller="dataController">
      <h2>Ultrasonic data</h2>

      <canvas id="measurementsChart" class="chart"></canvas>

      <table>
        <thead>
          <th>Id</th>
          <th>Distance</th>
          <th>Time</th>
        </thead>
        <tbody>
          <tr ng-repeat="(key, measurement) in measurements">
            <td>{{key}}</td>
            <td>{{measurement.distance}}</td>
            <td>{{measurement.elapsedTime}}</td>
          </tr>
        </tbody>
      </table>
      <p ng-if="!measurements">No measurements</p>
    </div>
  </body>
</html>